<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MoveOn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<false/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
				<key>dateExpires</key>
				<string>05/11/2020</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>AngleGradientLayer.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>InputBarAccessoryView.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Kingfisher.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MessageKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PinLayout.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Rswift.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<false/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>D55904D7A4EBA53040BBD4B008FF483EFF0B62F1</string>
						<key>dateExpires</key>
						<string>05/11/2020</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>F5YTUWJG5G</string>
						<key>name</key>
						<string>Dauletkhan Tulendiyev</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>F5YTUWJG5G.MoveOn.Daukabase</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>F5YTUWJG5G</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>F5YTUWJG5G.MoveOn.Daukabase</string>
				</array>
			</dict>
			<key>name</key>
			<string>MoveOn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>9e65a0e3-61ca-4fde-86ce-30fee4921f3e</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>F5YTUWJG5G</string>
				<key>name</key>
				<string>Dauletkhan Tulendiyev</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
